<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 通过一个<bean>标签设置类的信息,通过id属性为类起个标识. -->
	<bean id="userService" class="cn.itcast.spring3.demo1.HelloServiceImpl">
		<!-- 使用<property>标签注入属性 -->
		<property name="info" value="传智播客(磁盘路径)"/>
	</bean>

</beans>