<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="car1" class="org.spring.Car.Car1" p:name="保时捷" p:price="1000000" ></bean>
    <bean id="car2" class="org.spring.Car.Car2" p:name="奇瑞" p:price="80000" ></bean>
    <bean id="person" class="org.spring.Car.PersonInfo" p:name="xxx" p:car-ref="car2" ></bean>
</beans>