<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
    <servlet>
        <servlet-name>tt</servlet-name>
        <servlet-class>tools.Tools</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tt</servlet-name>
        <url-pattern>/tt.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>tools.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>init</servlet-name>
        <url-pattern>/jdbc/init</url-pattern>
    </servlet-mapping>
</web-app>
