<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lakefarm.mapper.ShopGrowplantsMapper" >
  <resultMap id="BaseResultMap" type="com.lakefarm.pojo.ShopGrowplants" >
    <id column="zz_id" property="zzId" jdbcType="INTEGER" />
    <result column="zz_allcount" property="zzAllcount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    zz_id, zz_allcount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lakefarm.pojo.ShopGrowplantsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_growplants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_growplants
    where zz_id = #{zzId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_growplants
    where zz_id = #{zzId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lakefarm.pojo.ShopGrowplantsExample" >
    delete from shop_growplants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lakefarm.pojo.ShopGrowplants" >
    insert into shop_growplants (zz_id, zz_allcount)
    values (#{zzId,jdbcType=INTEGER}, #{zzAllcount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lakefarm.pojo.ShopGrowplants" >
    insert into shop_growplants
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zzId != null" >
        zz_id,
      </if>
      <if test="zzAllcount != null" >
        zz_allcount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zzId != null" >
        #{zzId,jdbcType=INTEGER},
      </if>
      <if test="zzAllcount != null" >
        #{zzAllcount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lakefarm.pojo.ShopGrowplantsExample" resultType="java.lang.Integer" >
    select count(*) from shop_growplants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_growplants
    <set >
      <if test="record.zzId != null" >
        zz_id = #{record.zzId,jdbcType=INTEGER},
      </if>
      <if test="record.zzAllcount != null" >
        zz_allcount = #{record.zzAllcount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_growplants
    set zz_id = #{record.zzId,jdbcType=INTEGER},
      zz_allcount = #{record.zzAllcount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lakefarm.pojo.ShopGrowplants" >
    update shop_growplants
    <set >
      <if test="zzAllcount != null" >
        zz_allcount = #{zzAllcount,jdbcType=INTEGER},
      </if>
    </set>
    where zz_id = #{zzId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lakefarm.pojo.ShopGrowplants" >
    update shop_growplants
    set zz_allcount = #{zzAllcount,jdbcType=INTEGER}
    where zz_id = #{zzId,jdbcType=INTEGER}
  </update>
</mapper>