<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="messageBean" class="org.spring.normal.kindsofinject.MessageBean">
        <property name="moduleName" value="测试"/>
        <property name="pageSize" value="30"/>
        <property name="username" value="LeoAshin"/>
        <property name="password"><null/></property>
        <property name="list">
            <list>
                <value>beijing</value>
                <value>shanghai</value>
                <value>tianjin</value>
                <value>damowang</value>
            </list>
        </property>

        <property name="map">
                <util:map map-class="java.util.HashMap">
                <entry key="test1" value="test"/>
                <entry key="test2" value="test2"/>
                </util:map>
        </property>
        <property name="set">
            <value>test</value>
            <value>hahahah</value>
            <value>tesljlkj</value>
        </property>
        <property name="prop">
            <props>
                <prop key="username">root</prop>
                <prop key="password">test</prop>
            </props>
        </property>
    </bean>
</beans>